<h1>Demo Extension</h1>

<p>
  <%= @extension_instance.greeting %>
</p>

<%= form_tag admin_extension_post_path(@extension.view_name),  method: :post, multipart: true do %>
  <div class="form-group">
    <label>
      File name
      <input type="text" name="extension[file_name]" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <label>
      Upload a file
      <input type="file" name="extension[file]">
    </label>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Upload</button>
  </div>
<% end %>